.app__collection {
    color: white;
    font-family: var(--font-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.app__collection-title {
    font-size: 23px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__collection-title p {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-lightgray);
    padding: 20px 0;

    transition: all 1s ease;
    cursor: pointer;
}

.app__collection-title p:hover {
    text-decoration: underline;
}

.app__collection-items {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1600px) {
    .app__collection-title {
        font-size: 45px;
    }

    .app__collection-title p {
        font-size: 17px;
    }
}